*{
    padding: 0;
    margin: 0;
}

.fundo{
    background-color:#fcd8e6ad;
    background-size: cover;
}

.linha{
 background-color: rgb(255, 132, 232);
 box-shadow: 0 4px 8px rgba(26, 5, 69, 9.2);
 height: 350px;
}

 .videobox2{
    width: 100%;
    height: auto;
    border-radius: 30px;
    text-align: center;
}

.descrição{
   color: rgb(81, 7, 45);
}

nav{
    background-color:#ce7095;
    padding: 5px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 3px 5px; 
    position: fixed;

}

.imagem{
 width: 20%;
 height:20%;
 margin-top: 100px;
 margin: 5px;
 padding: 5px;
}

.banner{
    text-align: center;
    border-radius: 5px;
}


.galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
  height: 500px;
  justify-content: space-around;
  padding-top: 70px;
}


.galeria img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 10px solid  #ce7095;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer{
   background-color: #ce7095;
    box-shadow: 0 4px 8px rgba(26, 5, 69, 9.2);
    height: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.texto{
color: rgb(81, 7, 45);
font-size: 50px;
font-weight: bold;
text-align: center;
font-family: "Montserrat", sans-serif;
font-style: italic;
}

.descrição{
 align-items: center;

}

.video-item{
    width: 30%;
   height: auto;
}

.text{
    text-align: center;
}

.home{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;

}

