*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
     background-color: #cae002;
}


.quadrado{
    background-color: #000;
    border-radius: 14px;
    padding: 20px;

    width:700px;
    height: 300px;
   

   text-align:center; 
}

.caixa{
    background-color: white;
    margin-top: 45px;
    display: flex;
    
    border-radius: 14px;
    width: 550px;
    height: 40px;
    align-items: center;
    margin-left: 70px;
}

main{
    justify-content: center;
    display: flex;
    margin-top: 75px;
}


.caixa2{
    background-color: white;
    margin-top: 50px;
    display: flex;
    
    border-radius: 14px;
    width: 550px;
    height: 40px;
    align-items: center;
    margin-left: 70px;
}

button{
    background-color: #ca0314;
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 12px;
    margin-top: 15px;
}

p{
    display: flex;
}

