*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh; /*ocupa a tela toda, 100% da tela visivel*/
     background-color:#fcd8e6ad;
    color: rgb(0, 0, 0);
    display: flex; /* permite o alinhamento flexível de seus filhos diretos */
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: #ce7095;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #ffff;
}

footer{
    background-color: #ce7095;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content{
 display: flex;
 flex-direction: column;
 
 
}


.text p{ 
    width: 75%;
    font-size: 1.23em;
    font-weight: 300; /* deixa a letra mais fina */
    text-align: justify; /* deixa nosso testo justificado no canto*/
    line-height: 1.6; /* a distancia entre as linhas e as legendas são maiores*/
    margin-left: 30px;
    
}




footer span{
    font-size: 0.8em;
    font-weight: 200;
}

.main-content h2{
    margin-bottom: 2%;
    font-size: 2.2em; /*EM faz a fonte ficar mais fina*/
   
}

.projetos{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.projetos2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}


.card{
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    margin-left: 1.8em;
    cursor: pointer;
    text-align: center;
    line-height: 120px;
    transition: box-shadow 1.25 ease-in-out;
}

.card img{
 width: 80%;
 height: 80%;
 border-radius: 30px;
 vertical-align: middle;
}

.card:hover{
    box-shadow: 0px 0px 8px #ffb7f4;
}

header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
}

header h1, a {
    color: #ffb7f4;
    transition: 0.2s ease-in-out;
}

main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid #ffb7f4;
    transition: 0,2s ease-in-out;
}

main figure img:hover{
    box-shadow: 0px 0px 8px #ec26c8;
}