*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
 background-color:#fcd8e6ad;
 
}


.texto{
 color: rgb(0, 0, 0);
font-size: 50px;
font-weight: bold;
text-align: center;
font-family: "Montserrat", sans-serif;
font-style: italic;
background-color: #ce7095;
}*/

nav{
    background-color:#fcd8e6ad;
    padding: 5px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 3px 5px; 
    position: fixed;

}

.main {
    padding-top: 100px; /* Espaço para não esconder o conteúdo */
  }

.video-item{
    width: 30%;
   height: auto;
}
.video{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 20px;
}

.videobox{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(99, 80, 80);
}

.linha{
 background-color: #fcd8e6ad;
 box-shadow: 0 4px 8px rgba(26, 5, 69, 9.2);
 height: 350px;
}

.letra{
    text-align: center;
    color: rgb(0, 0, 0);
}

footer{
    background-color: #ce7095;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    font-size: 0.8em;
    font-weight: 200;
}


.borrada {
    filter: blur(5px); /* ajusta o valor para mais ou menos borrado */
    width: 40%;
    height: 10%;
    text-align: center;
  }

  .videobox2{
    width: 100%;
    height: auto;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}

.home{
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
}





